{{>header}}
{{>navbar}}
{{>breadcrumb}}

<div class="container-fluid bgblack">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-2">
      {{>sidebar}}
    </div>

    <!-- Main Content -->
    <div class="col-md-10">
      <h1 class="text-center py-3 mb-4 rounded shadow-sm custom-header text-white sidebar">
        Events 
        <a href="/admin/events/createPage">
          <i class="fa fa-plus float-end mx-2 text-white"></i>
        </a>
      </h1>
    <table class=" sidebar custom-table table table-bordered  text-center fw-bold">
  <thead>
    <tr>
      <th class="col-id">Id</th>
      <th class="col-title">Title</th>
      <th class="col-pic">Pic</th>
      <th class="col-date">Date</th>
      <th class="col-short">Short Description</th>
      <th class="col-long">Long Description</th>
      <th class="col-view">active</th>
      <th class="col-view">View</th>
      <th class="col-update">Update</th>
      <th class="col-delete">Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
     <tr>
      <td class="id-cell ">{{ this._id }}</td>
      <td class="break-word ">{{shortway this.title 35}}</td>
      <td><span class="text-muted"><img src="{{this.pic}}" alt="images" style="max-width:160px; height: 130px;"></span></td>
      <td>{{formatDate this.date}}</td>
      <td class="break-word col-short">
       {{shortway this.shortDescription 45}} 
             </td>
      <td class="break-word col-long">
       {{shortway this.longDescription 50}} 
      </td>
      <td class="col-active">
       {{chkactive this.active}} 
      </td>
      <td class="col-view">
        <a href="/admin/event/view/{{this._id}}" title="View">
    <i class="fa fa-eye text-primary fa-lg"></i>
  </a>
</td>

<td class="col-update">
  <a href="/admin/event/updatePage/{{this._id}}" title="Edit">
    <i class="fa fa-edit text-success fa-lg"></i>
  </a>
</td>

<td class="col-delete">
  <a href="/admin/event/delete/{{this._id}}" title="Delete"
     onclick="return confirm('Are you sure you want to delete this event?');">
    <i class="fa fa-trash text-danger fa-lg"></i>
  </a>
</td>
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
  </div>
</div>
{{>footer}}