<!-- START CONTACT PAGE SECTION -->
<section id='contactFormSection' class='section-padding'>
  <div class='auto-container'>
    <div class='row'>
       <div class='col-12 text-center mb-5'>
        <h1 class="main-heading text-primary">Contact Us</h1>
        <p class="sub-heading text-muted">We’d love to hear from you. Reach out anytime!</p>
      </div>
      <div class='col-lg-5 col-md-5 col-12 mb-lg-0 mb-md-0 mb-5'>
        <div class='address-box-wrap bg-gray shadow-sm p-lg-5 p-md-3 p-3'>
          <div class='address-box-sin mb-4'>
            <div class='address-box-icon'>
              <i class='icofont-location-pin'></i>
            </div>
            <div class='address-box-des'>
              <h4 class='text-primary'>Address</h4>
              <p>{{siteAddress}}</p>
            </div>
          </div>
          <!-- end single address box -->
          <div class='address-box-sin mb-4'>
            <div class='address-box-icon'>
              <i class='icofont-envelope-open'></i>
            </div>
            <div class='address-box-des'>
              <h4 class='text-primary'>Email</h4>
              <p>{{siteEmail}}</p>
            </div>
          </div>
          <!-- end single address box -->
          <div class='address-box-sin mb-4'>
            <div class='address-box-icon'>
              <i class='icofont-fax'></i>
            </div>
            <div class='address-box-des'>
              <h4 class='text-primary'>Phone</h4>
              <p>{{sitePhone}}</p>
            </div>
          </div>
          <!-- end single address box -->
          <div class='address-box-sin'>
            <div class='address-box-icon'>
              <i class='icofont-eye'></i>
            </div>
            <div class='address-box-des'>
              <h4 class='text-primary'>Opening Time</h4>
              <p>{{siteTime}}</p>
            </div>
          </div>
          <!-- end single address box -->
        </div>
      </div>
      <!-- end col -->
      <div class='form-container col-lg-7 col-md-7 col-12'>
          <!--  Success/Error Message Block -->
         {{#if successMessage}}
           <div class="alert alert-success text-center">
             {{successMessage}}
           </div>
         {{/if}}

         <!--  End Message Block -->

         <h2 class='form-title'>Join With Us</h2>
         <form action='/contactStore' method='POST' class='custom-form'>
         
            <div class='form-row'>
               <div class='form-group'>
               <label for='name'>First Name*</label>
               <input
                  type='text'
                  id='name'
                  name='name'
                  placeholder='Enter your name'
                  value='{{formData.name}}'
                  class='form-control {{#if errorMessage.name}} is-invalid {{/if}}'
               />
               {{#if errorMessage.name}}
                  <div class='invalid-feedback'>{{errorMessage.name}}</div>
               {{/if}}
               </div>

               <div class='form-group'>
               <label for='email'>Email*</label>
               <input
                  type='email'
                  id='email'
                  name='email'
                  placeholder='Enter your email'
                  value='{{formData.email}}'
                  class='form-control {{#if errorMessage.email}} is-invalid {{/if}}'
               />
               {{#if errorMessage.email}}
                  <div class='invalid-feedback'>{{errorMessage.email}}</div>
               {{/if}}
               </div>
            </div>

            <div class='form-row'>
               <div class='form-group'>
               <label for='phone'>Contact Number*</label>
               <input
                  type='tel'
                  id='phone'
                  name='phone'
                  placeholder='Enter your phone number'
                  value='{{formData.phone}}'
                  class='form-control {{#if errorMessage.phone}} is-invalid {{/if}}'
               />
               {{#if errorMessage.phone}}
                  <div class='invalid-feedback text-danger'>{{errorMessage.phone}}</div>
               {{/if}}
               </div>

               <div class='form-group'>
               <label for='subject'>Subject*</label>
               <input
                  type='text'
                  id='subject'
                  name='subject'
                  placeholder='Enter subject'
                  value='{{formData.subject}}'
                  class='form-control {{#if errorMessage.subject}} is-invalid {{/if}}'
               />
               {{#if errorMessage.subject}}
                  <div class='invalid-feedback'>{{errorMessage.subject}}</div>
               {{/if}}
               </div>
            </div>

            <div class='form-group full-width'>
               <label for='message'>Message</label>
               <textarea
               id='message'
               name='message'
               rows='6'
               placeholder='Enter your message'
               class='form-control {{#if errorMessage.message}} is-invalid {{/if}}'
               >{{formData.message}}</textarea>
               {{#if errorMessage.message}}
               <div class='invalid-feedback'>{{errorMessage.message}}</div>
               {{/if}}
            </div>

            <div class='form-actions submit-btn'>
               <button type='submit' class='btn-submit'>Submit Message</button>
            </div>
         </form>
</div>

      <!-- end col -->
    </div>
  </div>
</section>
<!-- END CONTACT PAGE SECTION -->
