<!-- START HEADER SECTION -->
<header class="main-header">

  <!-- TOP AREA -->
  <div class="top-area">
    <div class="auto-container">
      <div class="row">
        <div class="col-lg-4 col-md-12 text-lg-left text-center">
          <div class="header-social">
            <ul>
              <li><a href="{{siteFacebook}}"><i class="icofont-facebook"></i></a></li>
              <li><a href="{{siteTwitter}}"><i class="icofont-twitter"></i></a></li>
              <li><a href="{{siteYoutube}}"><i class="icofont-youtube"></i></a></li>
              <li><a href="{{siteInstagram}}"><i class="icofont-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-8 col-md-12 text-lg-right text-center">
          <div class="top-menu">
            <ul>
              <li><a href="#"><i class="icofont-location-pin"></i>{{siteAddress}}</a></li>
              <li><a href="tel:{{sitePhone}}"><i class="icofont-phone"></i>{{sitePhone}}</a></li>
              <li><a href="tel:{{siteWhatsapp}}"><i class="icofont-phone"></i>{{siteWhatsapp}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- LOGO AREA -->
  <div class="logo-area">
    <div class="auto-container">
      <div class="row">
        <div class="col-lg-1 col-12 text-lg-left text-center p-0 mb-0">
          <div class="logo">
            <img src="/assets/img/school logo/VMS white background.png" alt="Vivekanand Modern School Logo" class="img-fluid" width="180" height="140" />
            <h1 class="h4 font-weight-bold text-primary text-center">{{siteNameLogo}}</h1>
          </div>
        </div>
        <div class="col-lg-11 col-12">
          <div class="header-info-box">
            <div class="header-info-icon"><i class="icofont-envelope"></i></div>
            <h5>Connect With Us</h5>
            <a href="mailto:{{siteEmail}}" class="d-flex align-items-center"><i class="bi bi-envelope"></i>{{siteEmail}}</a>
          </div>
          <div class="header-info-box">
            <div class="header-info-icon"><i class="icofont-headphone-alt-3"></i></div>
            <h5>Call For Enquiry</h5>
            <a href="tel:{{siteWhatsapp}}" class="d-flex align-items-center text-success"><i class="bi bi-whatsapp ms-2"></i>{{siteWhatsapp}}</a>
          </div>
          <div class="header-info-box">
            <div class="header-info-icon"><i class="icofont-eye-open"></i></div>
            <h5>Opening hours</h5>
            <p>Mon - Sun : 09:00 - 16:00</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- NAVIGATION AREA -->
  <div class="sticky-menu">
    <div class="mainmenu-area">
      <div class="auto-container">
        <div class="row">
          <div class="col-lg-9 d-none d-lg-block">
            <nav class="navbar navbar-expand-lg">
              <ul class="navbar-nav">
                <li class="active"><a href="/" class="nav-link">Home</a></li>
                <li><a href="/about" class="nav-link">About</a></li>
                <li><a href="/events" class="nav-link">Events</a></li>
                <li><a href="/features" class="nav-link">Features</a></li>
                <li><a href="/department" class="nav-link">Departments</a></li>
                <li><a href="/services" class="nav-link">Services</a></li>
                <li><a href="/admin" class="nav-link">Admin</a></li>
                <li class="dropdown">
                  <a class="nav-link" href="#">Other</a>
                  <ul class="dropdown-menu">
                    <li><a href="/team">Team</a></li>
                    <li><a href="/testimonial">Testimonial</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/faq">Faq</a></li>
                    <li><a href="/contactus">Contact</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3 d-none d-lg-block text-right">
            <a href="#" class="header-search" data-toggle="modal" data-target=".header-search-modal"><i class="icofont-search-2"></i></a>
          </div>

          <!-- Search Modal -->
          <div class="modal fade header-search-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal"><i class="icofont-close-line"></i></button>
                  <form class="header-search-box">
                    <div class="row no-gutters align-items-center">
                      <div class="col"><input class="form-control form-control-lg" type="search" placeholder="Search..." /></div>
                      <div class="col-auto"><button class="btn btn-lg header-search-btn" type="submit"><i class="icofont-search-2"></i></button></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- End Search Modal -->

        </div>
      </div>
    </div>
  </div>

</header>
<!-- END HEADER SECTION -->