{{>header}}
{{>navbar}}
{{>breadcrumb}}

<div class="container-fluid bg-gradient bgblack">
  <div class="row">
    <div class="col-md-3">
      {{>sidebar}}
    </div>
    <div class="col-md-9 mb-3">
      <div class="card shadow-lg border-0 rounded-3">
        <div class="card-header custom-header text-white d-flex justify-content-between align-items-center sidebar">
          <h2 class="mb-0 text-uppercase fw-bold text-white">
            <i class="fa fa-calendar-check me-2"></i> Create Setting
          </h2>
          <a href="/admin/setting" class="btn btn-dark btn-sm rounded-pill fw-bolder">
            <i class="fa fa-arrow-left-long me-1 w-10"></i> Back
          </a>
        </div>

        <div class="card-body p-4">
          <form action="/admin/setting/store" method="post" >
            
            <div class="mb-3">
              <label class="text-dark">Google Map URL</label>
              <input type="text" placeholder="Map url" name="map1" value="{{data.map1}}" class="form-control border-dark" />
            </div>

            <div class="mb-3">
              <label class="text-dark">Google Map URL</label>
              <input type="text" placeholder="Map url" name="map2" value="{{data.map2}}" class="form-control border-dark" />
            </div>

            <div class="row mb-3">
              <div class="mb-3 col-md-4">
                <label class="text-dark">Address</label>
                <textarea placeholder="Enter Address" name="address" class="form-control border-dark">{{data.address}}</textarea>
              </div>

              <div class="mb-3 col-md-4">
                <label class="text-dark">Phone</label>
                <input type="number" placeholder="Enter Phone Number" name="phone" value="{{data.phone}}" class="form-control border-dark" />
              </div>

              <div class="mb-3 col-md-4">
                <label class="text-dark">Email</label>
                <input type="text" placeholder="Enter Email" name="email" value="{{data.email}}" class="form-control border-dark" />
              </div>
            </div>

            <div class="mb-3">
              <label class="text-dark">Whatsapp</label>
              <input type="number" placeholder="Enter Whatsapp Contact Number" name="whatsapp" value="{{data.whatsapp}}" class="form-control border-dark" />
            </div>

            <div class="mb-3">
              <label class="text-dark">YouTube</label>
              <input type="text" placeholder="YouTube Link" name="youtube" value="{{data.youtube}}" class="form-control border-dark" />
            </div>


            <div class="mb-3">
              <label class="text-dark">Facebook</label>
              <input type="text" placeholder="Facebook link" name="facebook" value="{{data.facebook}}" class="form-control border-dark" />
            </div>

            <div class="mb-3">
              <label class="text-dark">Instagram</label>
              <input type="text" placeholder="Instagram link" name="instagram" value="{{data.instagram}}" class="form-control border-dark" />
            </div>

            <div class="mb-3">
              <label class="text-dark">Twitter</label>
              <input type="text" placeholder="Twitter link" name="twitter" value="{{data.twitter}}" class="form-control border-dark" />
            </div>

            <div class="mb-3">
              <label class="text-dark">Site Name</label>
              <input type="text" placeholder="Website url" name="sitename" value="{{data.sitename}}" class="form-control border-dark" />
            </div>

            <div class="mb-3">
              <label class="text-dark">School Timing</label>
              <input type="text" placeholder="School Timing" name="sitetime" value="{{data.sitetime}}" class="form-control border-dark" />
            </div>

            <div class="col-12 mb-3">
              <button type="submit" class="btn sidebar text-light fw-bold w-100">
                Create Setting
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{>footer}}